<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Estimado Usuario <%= @gestione.nombre %></h1>
    <p>
      Hola por favor revisar el sistema que tiene una nueva gestion. saludos
    </p>
  </body>
</html>
